<div class="container">

  <div class="row">
     <input type="text" class="form-control" name="display" [(ngModel)]="display" disabled readonly>
  </div>

  <div class="row">
    <div *ngFor="let l of teclas" class="col-3">
     <button type="button" (click)="addDigito(l)" [value]="l" class="btn btn-primary">{{l}}</button>     
    </div>
  </div>
  <div class="row">
    <div class="col -3">
      <button type="button" (click)="calcular()" class="btn btn-success">Calcular</button>
      <button type="button" class="btn btn-danger" (click)="ce()">CE</button>     
    </div>  
  </div>
  <div class="row">
    <app-log></app-log>
  </div>
</div>

